@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,body
{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

#Login
{
    height:600px;
    aspect-ratio: 1.2/1.5;
    background-color: rgb(222, 255, 233);
    border-radius: 10px;
    padding: 12px;
    display: block;
}

body {
    background: linear-gradient(0deg, #790a8d, #bb6fc8);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@keyframes AnimationName {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}

.loginField
{
    width:80%;
}

#LoginButton
{
    background-color: black;
    color:white;
    width:80%;
    aspect-ratio: 1/.1;
    left: 45px;
    top:320px;
    position:relative;
    transition: all .25s;
    font-family: 'Open Sans', sans-serif;
}

#LoginButton:hover
{
    background-color: rgb(65, 65, 65);
}